body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol,
ul {
    padding-left: 30px;
}

.board-row {
    border-left-width: 2px;
    border-left-color: black;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
    color: blue;
}

.column-start {
    border-left-width: 2px;
    border-left-color: black;
}

.column-end {
  border-right-width: 2px;
  border-right-color: black;
}

.row-start {
  border-top-width: 2px;
  border-top-color: black;
}

.row-end {
  border-bottom-width: 2px;
  border-bottom-color: black;
}

.square:focus {
    outline: none;
}

.selected {
    background: #dce8fc;
}

.incorrect {
    color: red;
}

.starting {
    color: black;
}

.number {
    background: #fff;
    color: grey;
    border: none;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: 15px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.possibilities {
    color: grey;
    font-size: 10px;
    display: table;
}

.possibility-row::after {
    display: table;
}

.possibility-cell {
    float: left;
    padding: 1px;
    line-height: 9px;
}

.number:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    /*display: flex;*/
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}